
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMy.cshtml";
}

<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 14 (filtered)">
  <title>About page </title>

</head>

<body lang=EN-US>

    <div class=WordSection1>
       

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:14.0pt;
line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:14.0pt;
line-height:115%;font-family:"Times New Roman","serif"'>Blood Donation</span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman","serif"'>              
                A blood donation occurs
                when a person voluntarily has blood drawn and used for transfusions or made
                into biopharmaceutical medications by a process called fractionation
                (separation of whole-blood components). Donation may be of whole blood (WB), or
                of specific components directly (the latter called apheresis). Blood banks
                often participate in the collection process as well as the procedures that
                follow it.
            </span>
        </p>
        
        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:14.0pt;line-height:115%;font-family:"Times New Roman","serif"'>

                    <img width=699 height=326 id="Picture 2" src="~/Content/HomepgaeSlider/img/03.png" />
                </span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman","serif"'>
                Today in the developed
                world, most blood donors are unpaid volunteers who donate blood for a community
                supply. In poorer countries, established supplies are limited and donors
                usually give blood when family or friends need a transfusion (directed
                donation). Many donors donate as an act of charity, but in countries that allow
                paid donation some donors are paid, and in some cases there are incentives
                other than money such as paid time off from work. Donors can also have blood
                drawn for their own future use (autologous donation). Donating is relatively
                safe, but some donors have bruising where the needle is inserted or may feel
                faint.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman","serif"'>
                Donors are usually kept at the donation site for
                10–15 minutes after donating since most adverse reactions take place during or
                immediately after the donation. Blood centers typically provide light
                refreshments, such as orange juice and cookies, or a lunch allowance to help
                the donor recover. The needle site is covered with a bandage and the donor is
                directed to keep the bandage on for several hours. In hot climates, donors are
                advised to avoid dehydration (strenuous exercise and games, alcohol) until a
                few hours after donation. Donated plasma is replaced after 2–3 days. Red blood
                cells are replaced by bone marrow into the circulatory system at a slower rate,
                on average 36 days in healthy adult males. In one study, the range was 20 to 59
                days for recovery. These replacement rates are the basis of how frequently a
                donor can donate blood.
                </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman","serif"'>
                Plasmapheresis and plateletpheresis donors can
                donate much more frequently because they do not lose significant amounts of red
                cells. The exact rate of how often a donor can donate differs from country to
                country. For example, plasmapheresis donors in the United States are allowed to
                donate large volumes twice a week and could nominally donate 83 liters (about
                22 gallons) in a year, whereas the same donor in Japan may only donate every
                other week and could only donate about 16 liters (about 4 gallons) in a year.
                Red blood cells are the limiting step for whole blood donations, and the
                frequency of donation varies widely depending on the type of donor and local
                policies. For example, adult men in Hong Kong can donate once every three
                months, women every four months, and youth aged sixteen or seventeen only every
                six months. In Canada and the United States it is 56 days (8 weeks) for any
            type of donor.
                </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman","serif"'>
                <b>Blood donation in Bangladesh</b> is an
                activity conducted by several different organizations. As of 2011, about 25% of
                the nation's blood supply came from voluntary donation, 20–25% from paid
                donors, and 50–55% from one-time donation for a specific patient.
       </span>
                 </p>

        <p style='text-align:justify'><b><span style='font-size:14.0pt'>&nbsp;</span></b></p>

        <p style='text-align:justify'><b><span style='font-size:14.0pt'>&nbsp;</span></b></p>

        <table class=MsoNormalTable border=0 cellspacing=3 cellpadding=0
               style='margin-left:2.25pt'>
            <tr>
                <td width=779 style='width:467.25pt;padding:.75pt .75pt .75pt .75pt'>
                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  justify;line-height:normal'>
                        <b>
                            <span style='font-size:12.0pt;font-family:
  "Times New Roman","serif";color:#006666'></span>
                        </b>
                    </p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

    </div>

</body>

</html>


