
@{
    ViewBag.Title = "TipsOnDonation";
    Layout = "~/Views/Shared/_LayoutMy.cshtml";
}

<!DOCTYPE html>
<html>



<body lang=EN-US>

    <div class=WordSection1>

        <p class=MsoNormal style='line-height:normal'>
            <b>
                <span style='font-size:24.0pt;
font-family:"Times New Roman","serif"'>Tips for a Successful Donation</span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'>
            <span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>
                By
                following a few recommendations before,&nbsp;during and&nbsp;after your blood
                donation can help you make your donation experience as safe, successful and
                pleasant as possible.
            </span>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <b>
                <span style='font-size:18.0pt;
font-family:"Times New Roman","serif"'>Before Your Donation</span>
            </b>
        </p>

        <ul type=disc>
            <li class=MsoNormal style='line-height:normal'>                
                <img width=300 height=219
                     src="~/Images/image001.jpg" align=right
                     alt="Description: Blood Donation Tip - Eat Healthy"><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>
                                                                             Maintain a
                                                                             healthy iron level in your diet by eating iron rich foods,
                                                                             such as red meat, fish, poultry, beans, spinach, iron-fortified cereals
                                                                             and raisins.
                                                                         </span>
            </li>
            <li class=MsoNormal style='line-height:normal'>
                <span style='font-size:12.0pt;
     font-family:"Times New Roman","serif"'>Get a good night's sleep.</span>
            </li>
            <li class=MsoNormal style='line-height:normal'>
                <span style='font-size:12.0pt;
     font-family:"Times New Roman","serif"'>
                    Drink an extra 4-5 glasses of water or
                    nonalcoholic fluids before the donation.
                </span>
            </li>
            <li class=MsoNormal style='line-height:normal'>
                <span style='font-size:12.0pt;
     font-family:"Times New Roman","serif"'>
                    Eat a healthy meal before your
                    donation.&nbsp;Avoid fatty foods, such as hamburgers, fries or ice cream
                    before donating. (Fatty foods can affect the tests we do on your blood. If
                    there is too much fat in your blood, your donation cannot be tested for
                    infectious diseases and the blood will not be used for transfusion.)
                </span>
            </li>
            <li class=MsoNormal style='line-height:normal'>
                <span style='font-size:12.0pt;
     font-family:"Times New Roman","serif"'>
                    If you are a platelet donor,
                    remember that your system must be free of aspirin for two days prior to
                    donation.
                </span>
            </li>
        </ul>

        <div class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;line-height:normal'>
            <span style='font-size:12.0pt;font-family:
"Times New Roman","serif"'>

                <hr size=3 width="100%" align=center>

            </span>
        </div>

        <table class=MsoNormalTable border=0 cellspacing=1 cellpadding=0>
            <tr>
                <td style='padding:.6pt .6pt .6pt .6pt'>
                    <p class=MsoNormal style='line-height:normal'>
                        <b>
                            <span style='font-size:18.0pt;
  font-family:"Times New Roman","serif"'>During Your Donation</span>
                        </b>
                    </p>
                    <ul type=disc>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                Wear clothing with sleeves that
                                can be raised above the elbow.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                Let the person taking your blood
                                know if you have a preferred arm and show them any good veins that have
                                been used successfully in the past to draw blood.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                Relax, listen to music, talk to
                                other donors or read during the donation process.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                Take the time to enjoy a snack
                                and a drink in the refreshments area immediately after donating.
                            </span>
                        </li>
                    </ul>
                </td>
                <td width=204 rowspan=3 style='width:1.7in;padding:.6pt .6pt .6pt .6pt'></td>
            </tr>
            <tr>
                <td style='padding:.6pt .6pt .6pt .6pt'></td>
            </tr>
            <tr>
                <td style='padding:.6pt .6pt .6pt .6pt'>
                    <p class=MsoNormal style='line-height:normal'>
                        <b>
                            <span style='font-size:18.0pt;
  font-family:"Times New Roman","serif"'>After Your Donation</span>
                        </b>
                    </p>
                    <ul type=disc>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                Drink an extra four (8 ounce)
                                glasses of liquids and avoid alcohol over <i>the next 24 hours</i>.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                Remove the wrap bandage (if you
                                had one put on your arm) within <i>the next hour</i>.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                Keep the strip bandage on for <i>
                                    the
                                    next several hours
                                </i>.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                To avoid a skin rash, clean the area
                                around the strip bandage with soap and water.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                Do not do any heavy lifting or
                                vigorous exercise for <i>the rest of the day</i>.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                If the needle site starts to
                                bleed, apply pressure to it and raise your arm straight up for about
                                5-10 minutes or until bleeding stops.
                            </span>
                        </li>
                        <li class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
       font-family:"Times New Roman","serif"'>
                                If you experience dizziness or
                                lightheadedness after donation, stop what you are doing and sit down or
                                lie down until you feel better. Avoid performing any activity where
                                fainting may lead to injury for at least 24 hours.
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

        <p class=MsoNormal>&nbsp;</p>

    </div>

</body>

</html>


